/*a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
 a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color:white;
    background-color: transparent;
    
  }
a:active {
    color:pink;
    background-color: transparent;
    text-decoration: underline;
  } 

  .footer {
    height:50px;
    align-items:center;
    background: #000000; 
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 20px;
    text-align:center;
    vertical-align:center;
  } */

  .home {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  
  