a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
 a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color:white;
    background-color: transparent;
    text-decoration: none;
    
  }
a:active {
    color:pink;
    background-color: transparent;
    text-decoration: none;
  } 

  
  
  